<div class="row mb-2">
    <app-hr-brand-navbar></app-hr-brand-navbar>
</div>
<br><br><br>

<div class="row">
    <div class="col-sm-2">
        <app-navbar></app-navbar>
    </div>
    <div class="col-lg-8">
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Active Projects</h5>
                        <p class="card-text">{{activeCount}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Completed Projects</h5>
                        <p class="card-text">{{completedCount}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Upcoming Projects</h5>
                        <p class="card-text">{{upcomingCount}}</p>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Overdue Projects</h5>
                        <p class="card-text">{{overdueCount}}</p>
                    </div>
                </div>

            </div>
        </div>
        <br>
        
    </div>
    <div class="col-sm-2 mt-2">
        <br>
        <button class="btn btn-primary" routerLink="/add-project">Add New Project</button>
        <div>
            <br>
            <button class="btn btn-info" routerLink="/completed-list">View Completed Projects</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-lg-10">
        <div>
            <p><strong>Projects</strong></p>
            <!-- <div>
                <button class="btn btn-secondary" routerLink="/project-list">View Project List</button>
                
            </div> -->
            <app-project-list></app-project-list>
            
        </div>
    </div>

</div>