<div class="row mb-2">
    <app-hr-brand-navbar></app-hr-brand-navbar>
</div>
<br><br><br>

<div class="row">
    <div class="col-sm-2">
        <app-navbar></app-navbar>
    </div>
    <div class="col-lg-8">
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Active Projects</h5>
                        <p class="card-text">10</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Completed Projects</h5>
                        <p class="card-text">27</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Upcoming Projects</h5>
                        <p class="card-text">3</p>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Overdue Projects</h5>
                        <p class="card-text">0</p>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div>
            <p><strong>Projects</strong></p>
            <div>
                <app-project-list></app-project-list>
            </div>
            
        </div>
    </div>
    <div class="col-sm-2 mt-2">
        <br>
        <button class="btn btn-outline-primary">Add New Project</button>
    </div>
</div>