<div class="mt-2"> 
    <label>Name: </label>
    <input type="text" class="form-control" [(ngModel)]="name" (change)="onChange()">
</div>
<div class="mt-2">
    <label>Gender: </label>
    <input type="text" class="form-control" [(ngModel)]="gender" (change)="onChange()">
</div>
<div class="mt-2"> 
    <label>Email: </label>
    <input type="text" class="form-control" [(ngModel)]="contact" (change)="onChange()">
</div>
<div class="mt-2"> 
    <label>Department: </label>
    <input type="text" class="form-control" [(ngModel)]="dept" (change)="onChange()">
</div>
<div class="mt-2"> 
    <label>Designation: </label>
    <input type="text" class="form-control" [(ngModel)]="designation" (change)="onChange()">
</div>
<div class="mt-2"> 
    <label>Date Of Birth: </label>
    <input type="date" class="form-control" [(ngModel)]="dob" (change)="onChange()">
</div>
<div class="mt-2"> 
    <label>Date Of Joining: </label>
    <input type="date" class="form-control" [(ngModel)]="joiningdate" (change)="onChange()">
</div>