<app-hr-brand-navbar></app-hr-brand-navbar>
<br><br><br>
<div class="row mt-2">
    <div class="col-sm-3">
        <app-navbar></app-navbar>
    </div>
    <div class="col-md-6">
        <div class="card mt-2">
            <div class="card-header">
                <h3>Add Employee</h3>
                <div class="alert alert-success" *ngIf="successMsg">
                    {{successMsg}}
                </div>
                <div class="alert alert-danger" *ngIf="msg">
                    {{msg}}
                </div>
            </div>
            <div class="card-body">
                <div class="mt-2">
                    <label>Name: </label>
                    <input type="text" class="form-control" [(ngModel)]="name" (change)="onChange()">
                </div>
                <div class="mt-2">
                    <label>Gender: </label>
                    <select class="form-control" [(ngModel)]="gender" (change)="onChange()">
                        <option disabled selected>Select</option>
                
                        <option *ngFor="let g of allGender" [value]="g">
                            {{ g }}
                        </option>
                    </select>
                </div>
                <div class="mt-2">
                    <label>Email: </label>
                    <input type="text" class="form-control" [(ngModel)]="contact" (change)="onChange()">
                </div>
                <div class="mt-2">
                    <label>Department: </label>
                    <select class="form-control" [(ngModel)]="dept" (change)="onChange()">
                        <option disabled selected>Select</option>
                
                        <option *ngFor="let dept of allDepartment" [value]="dept">
                            {{ dept }}
                        </option>
                    </select>
                </div>
                <div class="mt-2">
                    <label>Designation: </label>
                    <select class="form-control" [(ngModel)]="designation" (change)="onChange()">
                        <option disabled selected>Select</option>
                
                        <option *ngFor="let d of allDesignation" [value]="d">
                            {{ d }}
                        </option>
                    </select>
                </div>
                <div class="mt-2">
                    <label>Date Of Birth: </label>
                    <input type="date" class="form-control" [(ngModel)]="dob" (change)="onChange()">
                </div>
                <div class="mt-2">
                    <label>Date Of Joining: </label>
                    <input type="date" class="form-control" [(ngModel)]="joiningdate" (change)="onChange()">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="addEmployee()">Add</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">

    </div>

</div>


