 <div class="row mb-2">
      <app-hr-brand-navbar></app-hr-brand-navbar>
  </div>
  <br>
  <div class="row mt-5">
      <div class="col-sm-2">
          <app-navbar></app-navbar>
      </div>
      <div class="col-md-10"> <!-- Adjusted column layout -->
          <div class="row justify-content-center"> <!-- Center the card -->
              <div class="col-md-8">
                  <!-- Add your card here -->
                  <div class="card mt-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4">
                          <p><strong>Employee ID</strong><br>{{employee?.id}}</p> <!-- Employee ID -->
                        </div>
                        <div class="col-md-4">
                          <p><strong>Employee Name</strong><br>{{ employee?.name }}</p> <!-- Employee Name -->
                        </div>
                        <div class="col-md-4">
                          <p><strong>Designation</strong><br>{{ employee?.designation }}</p> <!-- Employee Designation -->
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-4">
                          <div class="badge bg-success text-wrap badge-custom">Employee CTC :{{salary?.annualCTC}}</div>
                        </div>
                        <div class="col-md-4">
                          <div class="badge bg-success text-wrap badge-custom">Annual NetPay :{{salary?.annualNetPay}}</div>
                        </div>
                        <div class="col-md-4">
                          <div class="badge bg-success text-wrap badge-custom">Status : {{salary?.status}}</div>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-4">
                          <div class="badge bg-success text-wrap badge-custom">Monthly NetPay :{{salary?.monthlyNetPay}}</div>
                        </div>
                        <div class="col-md-4">
                          <div class="badge bg-success text-wrap badge-custom">Computed Date :{{salary?.createdAt}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button class="btn btn-warning" (click)="onSave(employee?.id)">SAVE</button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  