<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col" style="width: 5%" class="text-center">#</th>
      <th scope="col" style="width: 15%" class="text-center">Name</th>
      <th scope="col" style="width: 20%" class="text-center">Contact</th>
      <th scope="col" style="width: 25%" class="text-center">Role</th>
      <th scope="col" class="text-center" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <th scope="row" class="text-center">{{emp.id}}</th>
      <td class="text-center">{{emp.name}}</td>
      <td class="text-center">{{emp.contact}}</td>
      <td class="text-center">{{emp.jobRole}}</td>
      <td class="text-center"> <span>
          <!-- <button [routerLink]="['/delete/', emp.id]" class="btn btn-danger bn-small" (click)="delete(emp.id)">Mark Inactive / Delete</button>  -->
          <button class="btn btn-danger bn-small" (click)="delete(emp.id)">Mark Inactive / Delete</button>
          &nbsp;&nbsp;&nbsp;
          <button [routerLink]="['/employee/edit/',emp.id]" class="btn btn-secondary bn-small">Edit</button>
        </span>
      </td>
    </tr>

  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button class="page-link" [disabled]="first == true" (click)="onPrev()"> Prev</button>
    </li>
    <span *ngFor="let n of numArry">
      <button class="page-link" (click)="onPageNumberClick(n)"> {{n+1}}</button>
    </span>


    <li class="page-item">
      <button class="page-link" [disabled]="last == true" (click)="onNext()"> Next</button>
    </li>
  </ul>
</nav>