<app-hr-recruit-navbar></app-hr-recruit-navbar>
<div class="container-fluid " style= "position: fixed; top: 110px; left: 250px; right: 0; z-index: 1030; height: 60px;">
    <div class="row">
        <div class="col-sm-3">
            <button type="button" class="btn btn-warning" (click)="onAddJob()">+ Add New Job</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mt-2">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">Job Title</th>
                            <th class="text-center">Job Type</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Requirements</th>
                            <th class="text-center">Start Date</th>
                            <th class="text-center">End Date</th>
                            <th class="text-center">Location</th>
                            <th class="text-center">CTC</th>
                            <th class="text-center">Experience Required</th>
                            <th class="text-center">Skill 1</th>
                            <th class="text-center">Skill 2</th>
                            <th class="text-center">Skill 3</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let job of jobs">
                            <th class="text-center">{{job.jobTitle}}</th>
                            <th class="text-center">{{job.jobType}}</th>
                            <th class="text-center">{{job.description}}</th>
                            <th class="text-center">{{job.requirements}}</th>
                            <th class="text-center">{{job.startDate}}</th>
                            <th class="text-center">{{job.endDate}}</th>
                            <th class="text-center">{{job.location}}</th>
                            <th class="text-center">{{job.ctc}}</th>
                            <th class="text-center">{{job.experienceRequired}}</th>
                            <th class="text-center">{{job.skill1}}</th>
                            <th class="text-center">{{job.skill2}}</th>
                            <th class="text-center">{{job.skill3}}</th>
                          <td class="text-center">
                            <button type="button" class="btn btn-primary btn-sm" (click)="onEdit(job.id)">Edit</button> 
                          </td>
                        </tr>
                    </tbody>   
                </table>
        </div>
    </div>
</div>