<div class="row mb-2">
   <app-brand-navbar></app-brand-navbar>
</div>
<br>
<div class="row mt-5">
    <div class="col-sm-2">
        <app-navbar></app-navbar>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-md-2">
            <div class="alert alert-warning custom-alert" role="alert">
                <strong>Status :</strong>Pending
            </div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-warning custom-alert" role="alert">
                <strong>Month-Year:</strong>October-2024
            </div>
        </div>      
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th> <!-- Checkbox for batch processing -->
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Gross Pay</th>
                        <th scope="col">Deductions</th>
                        <th scope="col">Net Pay</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of salary">
                        <td><input type="checkbox" (change)="toggleSelection(s.id)"></td>
                        <td>{{s.name}}</td>
                        <td>{{s.department}}</td>
                        <td>{{s.grossPay}}</td>
                        <td>{{s.deduction}}</td>
                        <td>{{s.netPay}}</td>
                        <td>{{s.status}}</td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>
    <div class="row">
        <p></p>
        <p></p>
        <div class="col-sm-5"></div>
        <div class="col-md-4">
            
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-success" (click)="onRunPayroll()">Run Payroll</button>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-warning" (click)="onGoToRunPayroll()">Go to Run Payroll Tab</button>
            </div>
        </div>
    </div>
</div>
