<app-jobseeker-navbar></app-jobseeker-navbar>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-md-6">
            <div *ngFor="let j of job" class="card mb-3 shadow-sm">
                <div class="card-header font-weight-bold bg-light">
                  {{ j.tile }}
                </div>
                <div class="card-body">
                  <p><strong>Location:</strong> {{ j.location }}</p>
                  <p><strong>Job Type:</strong> {{ j.jobType }}</p>
                  <p><strong>Posting Date:</strong> {{ j.postingDate }}</p>
                  <button class="btn btn-primary" >View Details</button> <!-- View Button -->
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
