<!-- <app-hr-brand-navbar></app-hr-brand-navbar>
<br><br><br>
<div class="row">
    <div class="col-sm-2 mt-2">
        <app-navbar></app-navbar>
    </div>
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <div class="card flex justify-content-center">
                    <p-stepper>
                        <p-stepperPanel header="General Info">
                            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                                <div class="flex flex-column h-12rem">
                                    <div
                                        class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                        <app-basic-info></app-basic-info>
                                    </div>
                                </div>
                                <div class="flex pt-4 justify-content-end" (click)="saveBasicInfo()">
                                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                        (onClick)="nextCallback.emit()" />
                                </div>
                            </ng-template>
                        </p-stepperPanel>
                        <p-stepperPanel header="Address">
                            <ng-template pTemplate="content" let-prevCallback="prevCallback"
                                let-nextCallback="nextCallback" let-index="index">
                                <div class="flex flex-column h-12rem">
                                    <div class="alert alert-success" *ngIf="savedbasic">
                                        Added Employee with Basic info
                                        You can continue adding further details or you can do it later
                                    </div>
                                    <div
                                        class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                        <app-address></app-address>
                                    </div>
                                </div>
                                <div class="flex pt-4 justify-content-between">
                                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                        (onClick)="nextCallback.emit()" />
                                </div>
                            </ng-template>
                        </p-stepperPanel>
                        <p-stepperPanel header="Bank Account Details">
                            <ng-template pTemplate="content" let-prevCallback="prevCallback"
                                let-nextCallback="nextCallback" let-index="index">
                                <div class="flex flex-column h-12rem">
                                    <div
                                        class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                        <app-bank-details></app-bank-details>
                                    </div>
                                </div>
                                <div class="flex pt-4 justify-content-between">
                                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                        (onClick)="nextCallback.emit()" />
                                </div>
                            </ng-template>
                        </p-stepperPanel>
                        <p-stepperPanel header="User Credentials">
                            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                                <div class="flex flex-column h-12rem">
                                    <div
                                        class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                        <app-user-details></app-user-details>
                                    </div>
                                </div>
                                <div class="flex pt-4 justify-content-start">
                                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                                </div>
                            </ng-template>
                        </p-stepperPanel>
                    </p-stepper>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mt-2">

        <div class="card mt-2">
            <div class="card-header">
                <h4>Summary</h4>
            </div>
            <div class="card-body">
                <div class="mt-2">
                    <label>Name: </label>
                    <input type="text" class="form-control" [(ngModel)]="name">
                </div>
                <div class="mt-2">
                    <label>Gender: </label>
                    <!-- <input type="text" class="form-control" [(ngModel)]="gender"> -->

                    <!-- <select class="form-control" [(ngModel)]="gender">
                        <option *ngFor="let g of allGender">
                            {{g}}
                        </option>
                    </select>
                </div>
                <div class="mt-2">
                    <label>Email: </label>
                    <input type="text" class="form-control" [(ngModel)]="contact">
                </div>
                <div class="mt-2">
                    <label>Department: </label>
                    <input type="text" class="form-control" [(ngModel)]="dept">
                </div>
                <div class="mt-2">
                    <label>Designation: </label>
                    <input type="text" class="form-control" [(ngModel)]="designation">
                </div>
                <div class="mt-2">
                    <label>Date Of Birth: </label>
                    <input type="date" class="form-control" [(ngModel)]="dob">
                </div>
                <div class="mt-2">
                    <label>Date Of Joining: </label>
                    <input type="date" class="form-control" [(ngModel)]="joiningdate">
                </div>
            </div>

        </div>

    </div>
</div> --> -->

<app-hr-brand-navbar></app-hr-brand-navbar>
<br><br><br>
<div class="row mt-2">
    <div class="col-sm-3">
        <app-navbar></app-navbar>
    </div>
    <div class="col-md-6">
        <div class="card mt-2">
            <div class="card-header">
                <h5><b>Add Employee</b></h5>
                <button class="btn btn-success" *ngIf="savedbasic">Onboarded Successfully</button>
            </div>
            <div class="card-body">
                <div class="mt-2"> 
                    <label>Name: </label>
                    <input type="text" class="form-control" [(ngModel)]="name" (change)="onChange()">
                </div>
                <div class="mt-2">
                    <label>Gender: </label>
                    <input type="text" class="form-control" [(ngModel)]="gender" (change)="onChange()">
                </div>
                <div class="mt-2"> 
                    <label>Email: </label>
                    <input type="text" class="form-control" [(ngModel)]="contact" (change)="onChange()">
                </div>
                <div class="mt-2"> 
                    <label>Department: </label>
                    <input type="text" class="form-control" [(ngModel)]="dept" (change)="onChange()">
                </div>
                <div class="mt-2"> 
                    <label>Designation: </label>
                    <input type="text" class="form-control" [(ngModel)]="designation" (change)="onChange()">
                </div>
                <div class="mt-2"> 
                    <label>Date Of Birth: </label>
                    <input type="date" class="form-control" [(ngModel)]="dob" (change)="onChange()">
                </div>
                <div class="mt-2"> 
                    <label>Date Of Joining: </label>
                    <input type="date" class="form-control" [(ngModel)]="joiningdate" (change)="onChange()">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-info" (click)="saveBasicInfo()"><h5>Add</h5></button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">

    </div>

</div>