<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">PAYROLL AND RESOURCE<br />
        MANAGEMENT</span>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <strong>Login</strong> 
              </div>
              <div class="card-body">
                  <div class="alert alert-danger" role="alert" *ngIf="loginErrMsg != ''">
                      {{loginErrMsg}}
                  </div>
                  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                      <div class="mb-3">
                          <label class="form-label">Email address</label>
                          <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="username">
                          <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                              <small *ngIf="loginForm.get('username').errors['required']">username is required</small>
                              <small *ngIf="loginForm.get('username').errors['email']">username/email is invalid</small>
                          </div>
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Password</label>
                          <input type="password" class="form-control" formControlName="password">
                          <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                              <small *ngIf="loginForm.get('password').errors['required']">password is required</small>
                          </div>
                      </div>
                      <input type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" value="Login">
                  </form>
              </div>
              <div class="card-footer">
                  <span  class="text-primary">Forgot Password? Reset here</span>
                  <br />
                  <span  class="text-primary">Sign up here</span>
              </div>
          </div>
      </div>
      <div class="col-sm-3"></div>
  </div>
</div>
