<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">EasyPay</span>
    </div>
  </nav>
  <div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Logged Out</h1>
    <p class="lead">Dear user, you have been logged out of the system. 
        you can login back again anytime 
    </p>
    <hr class="my-4">
    <p>For any further info, please mail us at {{email}}</p>
    <button class="btn btn-primary btn-lg"  (click)="login()">Login</button>
  </div>