<app-jobseeker-navbar></app-jobseeker-navbar>
<div class="container">
  <div class="row">
    <p></p>
    <p></p>
    <p></p>
</div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-md-3">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="card-title">Profile</h5>
        </div>
        <div class="card-body">
          <p><strong>Name:</strong> <span class="text-muted">{{basicJobseekerDetails.name}}</span></p>
          <p><strong>Date of Birth:</strong> <span class="text-muted">{{ basicJobseekerDetails.dateOfBirth }}</span></p>
          <p><strong>Contact:</strong> <span class="text-muted">{{ basicJobseekerDetails.contact }}</span></p>
          <p><strong>Current Employer:</strong> <span class="text-muted">{{ basicJobseekerDetails.currentEmployer }}</span></p>
          <p><strong>EasyPay ID:</strong> <span class="text-muted">{{ basicJobseekerDetails.easyPayId }}</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-lg mb-4">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="card-title">Status</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <p><strong>Screening Test:</strong> <span class="text-success">Cleared</span></p>
              <p><strong>Technical Round:</strong> <span class="text-success">{{TRScoreSheets.status}}</span></p>
              <p><strong>HR Round:</strong> <span class="text-warning">{{HRScoreSheet.status}}</span></p>
            </div>
            <div class="col-sm-6">
              <p></p>
              <h6>Overall Status:</h6>
              <p class="text-success">{{overAllStatus}}</p>
              <!--<p class="text-danger">Rejected</p>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <p></p>
      <div class="col-sm-2"></div>
      <div class="col-md-6">
        <div class="card shadow-lg mb-4" >
          <div class="card-header bg-dark text-white text-center">
            <h5 class="card-title">Jobs Applied</h5>
          </div>
          <div class="card-body">
            <div *ngFor="let j of jobs" class="job-card">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h6>{{j.jobTitle}}</h6>
                  <p>
                    <strong>
                    Posted on: {{j.startDate}} 
                    Location: {{j.location}} 
                  </strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>








 












