<app-jobseeker-navbar></app-jobseeker-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-md-3">
      <div class="card shadow-lg border-primary">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="card-title">Profile</h5>
        </div>
        <div class="card-body">
          <p><strong>Name:</strong> <span class="text-muted">{{ basicJobseekerDetails.name }}</span></p>
          <p><strong>Date of Birth:</strong> <span class="text-muted">{{ basicJobseekerDetails.dateOfBirth}}</span></p>
          <p><strong>Gender:</strong> <span class="text-muted">{{ basicJobseekerDetails.gender }}</span></p>
          <p><strong>Current Employer:</strong> <span class="text-muted">{{ basicJobseekerDetails.currentEmployer }}</span></p>
          <p><strong>Contact:</strong> <span class="text-muted">{{ basicJobseekerDetails.contact }}</span></p>
          <p><strong>EasyPay ID:</strong> <span class="text-muted">{{ basicJobseekerDetails.easyPayId }}</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-5"></div>
    <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Applied jobs</strong> 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Interview status</strong> 
      </div>
    </div>
  </div>
  </div>
</div>
