<app-hr-recruit-navbar></app-hr-recruit-navbar>
<div class="container mt-4" style= "position: fixed; top: 110px; left: 250px; right: 0; z-index: 1030; height: 60px;">
    <div class="row ">
        <div class="col-sm-3 mt-4"></div>
        <div class="col-md-6">
            <div class="card fixed-card">
                <div class="card-header text-center" >
                    HR Interview
                </div>
                <div class="card-body">
                  <!-- <div class="alert alert-dark" role="alert" *ngIf="successMsg">
                         {{successMsg}}
                      </div>
                      <div class="alert alert-primary" role="alert" *ngIf="errorMsg">
                        {{errorMsg}}
                      </div> --> 
                    <div>
                        <label>Interview Date: </label>
                        <input class="form-control" type="date" [(ngModel)]="interviewDate">
                    </div>
                    <div>
                        <label>Interview Time: </label>
                        <input class="form-control" type="text" [(ngModel)]="interviewTime">
                    </div>
                    <div> 
                        <label>Interview Link </label>
                        <input class="form-control" type="text" [(ngModel)]="interviewLink">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-success">Schedule Interview</button>
                </div>
            </div>
        </div>
    </div>
 </div>