<app-jobseeker-navbar></app-jobseeker-navbar>
<div class="container">
  <div class="row">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>

  <!-- Notification Section -->
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-md-10">
      <h5 style="color: rgb(255, 13, 13);"><strong>NOTIFICATION</strong></h5>
      <table class="table table-success table-hover">
        <thead>
          <tr>
            <th scope="col">Type of interview</th>
            <th scope="col">Date of interview</th>
            <th scope="col">From Time</th>
            <th scope="col">To Time</th>
            <th scope="col">Interview Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Technical Interview</td>
            <th scope="row">{{technicalInterview.date}}</th>
            <td>{{technicalInterview.fromTime}}</td>
            <td>{{technicalInterview.toTime}}</td>
            <td><a class="Link">{{technicalInterview.interviewLink}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Offer Section -->
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-md-10">
      <p></p>
      <p></p>
      <h5 style="color: rgb(255, 13, 13);"><strong>OFFER</strong></h5>

      <!-- Iterate over offered jobs -->
      <div *ngIf="offeredJobs && offeredJobs.length > 0; else noOfferCard">
        <div class="card" *ngFor="let j of offeredJobs">
          <div class="card-header">
            <h5><strong>Job Title :</strong> {{j.jobTitle || 'N/A'}}</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">{{j.jobTitle || 'N/A'}}</h6>
            <p class="card-text" style="margin-bottom: 2px;"><strong>Location : </strong>{{j.location || 'N/A'}}</p>
            <p class="card-text" style="margin-bottom: 5px;"><strong>CTC : </strong>{{j.ctc || 'N/A'}}</p>
            <a href="#" class="btn btn-success btn-sm me-2">Accept Offer</a>
            <a href="#" class="btn btn-danger btn-sm">Decline Offer</a>
          </div>
        </div>
      </div>

      <!-- Fallback if no offered jobs are available -->
      <ng-template #noOfferCard>
        <div class="card">
          <div class="card-header">
            <h5><strong>Job Title :</strong> N/A</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">N/A</h6>
            <p class="card-text" style="margin-bottom: 2px;"><strong>Location : </strong>N/A</p>
            <p class="card-text" style="margin-bottom: 5px;"><strong>CTC : </strong>N/A</p>
            <a href="#" class="btn btn-secondary btn-sm" disabled>No Offer Available</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
