<div class="row mb-2">
    <app-hr-brand-navbar></app-hr-brand-navbar>
</div>
<br><br><br>

<div class="row">
    <div class="col-sm-4">
        <app-navbar></app-navbar>
    </div>
    <div class="col-md-6">
        <div class="card mt-2">
            <div class="card-header">
                Add Project
            </div>
            <div class="card-body">
                <div>
                    <label>Title</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label>Description</label>
                    <textarea class="form-control"></textarea>
                </div>
                <div>
                    <label>Project Type</label>
                    <select class="form-control">
                        <option></option>
                    </select>
                </div>
                <div>
                    <label>Start Date</label>
                    <input type="date" class="form-control">
                </div>
                <div>
                    <label>Estimated End Date</label>
                    <input type="date" class="form-control">
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Add</button>
            </div>

        </div>
    </div>
    <div class="col-sm-2">

    </div>
</div>