<div class="row mb-2">
    <app-hr-brand-navbar></app-hr-brand-navbar>
</div>
<br><br><br>

<div class="row">
    <div class="col-sm-4">
        <app-navbar></app-navbar>
        <button routerLink="/projects">Back</button>
    </div>
    <div class="col-md-6">
        <div class="card mt-2">
            <div class="card-header">
                Add Project
                <div class="alert alert-success mt-2" role="alert" *ngIf="successMsg">
                    {{successMsg}}
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                    {{errorMsg}}
                  </div>
            </div>
            <div class="card-body">
                <div class="mb-2">
                    <label>Title</label>
                    <input type="text" class="form-control" [(ngModel)]="title">
                </div>
                <div class="mb-2">
                    <label>Description</label>
                    <textarea class="form-control" [(ngModel)]="description"></textarea>
                </div>
                <div class="mb-2">
                    <label>Project Type</label>
                    <select class="form-control" [(ngModel)]="type">
                        <option *ngFor="let type of projectType">{{type}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label>Start Date</label>
                    <input type="date" class="form-control" [(ngModel)]="startDate">
                </div>
                <div class="mb-2">
                    <label>Estimated End Date</label>
                    <input type="date" class="form-control" [(ngModel)]="endDate">
                </div>
                <div class="mb-2">
                    <label>Select Manager</label>
                    <select class="form-control" [(ngModel)]="selectedManagerId">
                        <option *ngFor="let mgr of managers" [value]="mgr.id">Id:{{mgr.id}}&nbsp;&nbsp;{{mgr.name}}</option>
                    </select>
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="addProject()">Add</button>
                <!-- &nbsp;&nbsp;&nbsp;<button class="btn btn-secondary" *ngIf="successMsg" routerLink="/projects">Back to Project List</button> -->
            </div>
            
        </div>
    <br>
        <div class="text-center"><button class="btn btn-secondary" routerLink="/projects" >Go Back</button></div>
    </div>
    <div class="col-sm-2">

    </div>
</div>