

<div class="row mb-2">
    <app-hr-brand-navbar></app-hr-brand-navbar>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-sm-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-7">

      <div class="row mt-2">
        <div class="col-md-5">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" routerLink="/overall-compliance" name="btnradio1"
                id="btnradio1" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio1">Overall Compliance</label>

            <input type="radio" class="btn-check" routerLink="/detailed-compliance" name="btnradio1"
                id="btnradio2" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio2">Detailed Compliance</label>

        </div>
        </div>
    </div>
    <br>
    <div>
        <div>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" routerLink="/detailed-compliance" name="btnradio2" id="btnradio3" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio3">Gratuity</label>
              
                <input type="radio" class="btn-check" routerLink="/detailed-compliance/bonus" name="btnradio2" id="btnradio4" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio4">Bonus</label>
              
                <input type="radio" class="btn-check" routerLink="/detailed-compliance/other" name="btnradio2" id="btnradio5" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio5">Other</label>
              </div>
              </div>
    </div>
      <br>
      <div>
        <h5><strong>Gratuity Payments</strong></h5>
        <div>

            <!-- <div class="col-sm-2"></div> -->
            <table>
                <tbody>
                  <tr>
                    <td>Gratuity Paid</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>₹1,00,000</td>
                  </tr>
                  <tr>
                    <td>Gratuity Accrued</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>₹2,00,000</td>
                  </tr>
                  <tr>
                    <td>Beneficiaries</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>50</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
    </div>
    
      <br>
      <div>
        <h5><strong>Compliance Summary</strong></h5>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        Compliant Status
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td><button type="button" class="btn btn-success">80 %</button></td>
                </tr>
            </table>
        </div>
        <br>
    <div>
        <h5><strong>Beneficiaries</strong></h5>
    </div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Emp Name</th>
                <th scope="col">Gratuity Paid</th>
                <th scope="col">Gratuity Accrued</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>1,50,000</td>
                <td>2,50,000</td>
                <td>Compliant</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>1,00,000</td>
                <td>4,00,000</td>
                <td>Compliant</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>5,00,000</td>
                <td>0</td>
                <td>Compliant</td>
              </tr>
            </tbody>
          </table>
    </div>
      
    </div>
    <div class="col-sm-3">
      <div class="card mt-2">
        <div class="card-header">
            <h5><strong>Gratuity Criteria</strong></h5>
            <p>Gratuity = Last Drawn Salary * Gratuity Factor * Min. number of Years of Experience</p>
        </div>
        <div class="card-body">
            <div>
                <label>Gratuity Factor: </label>
                <input class="form-control" type="text" [(ngModel)]="gratuityFactory">
            </div>
            <div>
                <label>Min. number of Years of Experience</label>
                <input class="form-control" type="text" [(ngModel)]="minYearsOfExperience">
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-warning">Edit</button> &nbsp;
            <button type="button" class="btn btn-primary">Save</button>
            <p>Last Updated On 09/10/2024</p>
        </div>

      </div>
    </div>
  </div>