<div>
    <app-brand-navbar></app-brand-navbar>
</div>
<br><br><br>
<div class="row mt-2">
    <div class="col-sm-3">
        <app-emp-navbar></app-emp-navbar>
    </div>
    <div class="col-md-6">
        <h3>My Profile</h3>
        <div class="card">
            <div class="card-body">
                <div class="mb-2">
                    <label>Employee Id</label>
                    <input class="form-control" disabled>
                </div>
                <div class="mb-2">
                    <label>Name</label>
                    <input class="form-control" disabled>
                </div>
                <div class="mb-2">
                    <label>Email</label>
                    <input class="form-control" disabled>
                </div>
                <div class="mb-2">
                    <label>Contact</label>
                    <input class="form-control" disabled>
                </div>
                <div class="mb-2">
                    <br>
                    <h4>Personal Details</h4>
                <hr>
                </div>
                <div class="mb-2">
                    <label>Gender</label>
                    <input class="form-control" disabled>
                </div>
                <div class="mb-2">
                    <label>Date Of Birth</label>
                    <input type="date" class="form-control" disabled>
                </div>
                <div class="mb-2">
                    <label>Date of Joining</label>
                    <input type="date" class="form-control" disabled>
                </div>
                <div class="mb-2">
                    <label>Designation</label>
                    <input class="form-control" disabled>
                </div>
                <div class="mb-2">
                    <br>
                    <h4>Address Details</h4>
                <hr>
                <div class="mb-2">
                    <label>Address</label>
                    <input type="text" class="form-control" disabled>
                </div>
                <div class="mb-2">
                    <label>City</label>
                    <input type="text" class="form-control" disabled>
                </div>
                <div class="mb-2">
                    <label>State</label>
                    <input class="form-control" disabled>
                </div>

                
            </div>


        </div>
    </div>
    <div class="col-sm-3">

    </div>
</div>