

<div class="row mb-2">
  <app-hr-brand-navbar></app-hr-brand-navbar>
</div>
<br>
<div class="row mt-5">
  <div class="col-sm-2">
    <app-navbar></app-navbar>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Total Employees</h5>
            <p class="card-text">View and Manage all employee in the system</p>
            <a routerLink="/employee-list" class="btn btn-primary">View Employee List</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Pending Payroll</h5>
            <p class="card-text">Api fetch</p>
            <a href="#" class="btn btn-danger">Action Needed</a>
          </div>
        </div>
      </div>
    </div>

    <br>

    <h3>Reports:</h3>
    <p>Total Payroll cost</p>
    <p><strong>Amount</strong></p>
    <p>You've paid Rs3,400,OOO in payroll this year across 345 employees.</p>

  </div>
  <div class="col-sm-3">
    <app-gender-chart></app-gender-chart>
  </div>
</div>