<div id="wrapper">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <h2>Payroll and Resource Management</h2>
        </div>
        <ul class="sidebar-nav mt-4" style="margin-left:5%;">
           <li>
                <a routerLink="/recruitment/jobs-list"><i class="fa fa-home"></i>Jobs</a>
            </li>
            <li>
                <a routerLink="/recruitment/screen-test"><i class="fa fa-home"></i>Screen Test</a>
            </li>
            <li>
                <a routerLink="/recruitment/tech-round-status"><i class="fa fa-home"></i>Technical Round Status</a>
            </li>
            <li>
                <a routerLink="/recruitment/hr-interview"><i class="fa fa-home"></i>HR Interviews</a>
            </li>
            <li>
                <a routerLink="/recruitment/hr-round-status"><i class="fa fa-home"></i>HR Round Status</a>
            </li>
        </ul>
    </aside>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light" style="position: fixed; top: 0; left: 250px; right: 0; z-index: 1030; height: 60px;">
            <div class="container-fluid">
                <div class="d-flex justify-content-between d-md-none d-block">
                 <button class="btn px-1 py-0 open-btn me-2"><i class="fal fa-stream"></i></button>
                    <a class="navbar-brand fs-4" href="#"><span class="bg-dark rounded px-2 py-0 text-white">CL</span></a>
                   
                </div>
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fal fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
                    <a><strong>Welcome HR: {{username}}</strong></a>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <button class="btn btn-outline-success btn-sm" (click)="onLogout()">Logout</button>
                </div>
            </div>
        </nav>
    </div>
</div>