<div class="row mb-4">
    <app-hr-brand-navbar></app-hr-brand-navbar>
</div>
<br>
<div class="row mt-5">
    <div class="col-sm-3 mt-2">
        <app-navbar></app-navbar>
    </div>
    <div class="col-md-6 mt-2">
        <div class="card">
            <div class="card-header">
                Edit Employee Info
            </div>
            <div class="card-body">
                <label>Enter Name:</label>
                <input type="text" class="form-control">

                <label>Enter Gender:</label>
                <input type="text" class="form-control">

                <label>Enter Contact:</label>
                <input type="text" class="form-control">

                <label>Enter Job Role:</label>
                <input type="text" class="form-control">

                <label>Enter Date of Birth:</label>
                <input type="text" class="form-control">

                <label>Enter Date of Joining:</label>
                <input type="text" class="form-control">
            </div>
            <div class="card-footer">
                <button>Save</button>
            </div>

        </div>




    
    </div>

    <div class="col-sm-3">

    </div>

</div>

