<div>
    <app-brand-navbar></app-brand-navbar>
</div>
<br><br><br>
<div class="row mt-2">
    <div class="col-sm-2">
        <app-navbar></app-navbar>
    </div>
    <div class="col-md-6">
        <div class="card mt-4">
            <div class="card-header">
                Assign Employees
                <div class="alert alert-success mt-2" *ngIf="successMsg">
                    {{successMsg}}
                </div>
            </div>
            <div class="card-body">
                <div class="mb-2">
                    <label>Project Title</label>
                    <input type="text" class="form-control" disabled [(ngModel)]="title">
                </div>
                <div class="mb-2">
                    <label>Manager</label>
                    <input type="text" class="form-control" disabled [(ngModel)]="manager">
                </div>
                <div class="mb-2">
                    <Label>Select Employee(s) to assign</Label>
                    <select class="form-control" [(ngModel)]="employees" multiple>
                        <option *ngFor="let employee of allEmployees" [value]="employee.id">{{employee.name}}</option>
                    </select>
                </div>
                <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="assignEmployees()">Assign</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- <app-summary-selected-emp></app-summary-selected-emp> -->

        <h4 class="mt-4">Assigned Employees</h4>
        <div class="alert alert-dark" *ngIf="emptyMsg">
            No employees assigned yet
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let employee of assignedEmployees">
                {{ employee.name }} (ID: {{ employee.id }})
            </li>
        </ul>
    </div>

</div>