
<div>
    <app-hr-brand-navbar></app-hr-brand-navbar>
</div>
<br><br><br>
<div class="row mt-2">
    <div class="col-sm-2">
        <app-navbar></app-navbar>
    </div>
    <div class="col-lg-8">
        <div class="mt-2">
            <h3>Completed Projects</h3>
        </div>
        
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col" style="width: 5%" class="text-center">#</th>
                    <th scope="col" style="width: 20%" class="text-center">Title</th>
                    <th scope="col" style="width: 10%" class="text-center">Type</th>
                    <th scope="col" style="width: 10%" class="text-center">Status</th>
                    <!-- <th scope="col" style="width: 25%" class="text-center" class="text-center">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proj of projects">
                    <th scope="row" class="text-center">{{proj.id}}</th>
                    <th scope="row" class="text-center"><a [routerLink]="['/project', proj.id]">{{proj.name}}</a></th>
                    <td class="text-center">{{proj.projectType}}</td>
                    <td class="text-center">{{proj.status}}</td>
                    <!-- <td class="text-center"> <span>
                            <button class="btn btn-danger bn-small" (click)="markOngoing(proj.id)" *ngIf="proj.status==='UPCOMING' ">Start</button>
                            &nbsp;&nbsp;&nbsp;
                            <button (click)="markCompleted(proj.id)" class="btn btn-secondary bn-small" *ngIf="proj.status==='IN_PROGRESS' || proj.status==='UPCOMING' ">Mark as
                                Completed</button>
                            &nbsp;&nbsp;&nbsp;
                            <button [routerLink]="['/assign-emp',proj.id]" class="btn btn-info bn-small">Assign Employees</button>
                        </span>
                    </td> -->
                </tr>
        
            </tbody>
        </table>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <button class="page-link" [disabled]="first == true" (click)="onPrev()"> Prev</button>
                </li>
                <span *ngFor="let n of numArry">
                    <button class="page-link" (click)="onPageNumberClick(n)"> {{n+1}}</button>
                </span>
        
        
                <li class="page-item">
                    <button class="page-link" [disabled]="last == true" (click)="onNext()"> Next</button>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-2">

    </div>

</div>