<app-hr-recruit-navbar></app-hr-recruit-navbar>
<div class="container mt-4" style= "position: fixed; top: 110px; left: 250px; right: 0; z-index: 1030; height: 60px;">
    <div class="row ">
        <div class="col-sm-3 mt-4"></div>
        <div class="col-md-6">
            <div class="card fixed-card">
                <div class="card-header text-center" >
                  Technical Interview
                </div>
                <div class="card-body">
                   <div class="alert alert-info" role="alert" *ngIf="successMsg">
                         {{successMsg}}
                      </div>
                      <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                        {{errorMsg}}
                      </div> 
                    <div>
                        <label>Interviewer ID: </label>
                        <input class="form-control" type="number" [(ngModel)]="interviewerId" (change)="resetmsg()">
                    </div>
                    <div>
                        <label>Interview Date: </label>
                        <input class="form-control" type="date" [(ngModel)]="interviewDate" (change)="resetmsg()">
                    </div>
                    <div>
                        <label>Start Time: </label>
                        <input class="form-control" type="time" [(ngModel)]="fromTime" (change)="resetmsg()">
                    </div>
                    <div>
                        <label>End Time: </label>
                        <input class="form-control" type="time" [(ngModel)]="toTime" (change)="resetmsg()">
                    </div>
                    <div> 
                        <label>Interview Link: </label>
                        <input class="form-control" type="text" [(ngModel)]="interviewLink" (change)="resetmsg()">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-success" (click)="OnClick(id, interviewerId)">Schedule Interview</button>
                </div>
            </div>
        </div>
    </div>
 </div>